*{
    cursor: none;
}

html, body {
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size:medium;
    font-weight: 100;
    color:lime;
    background-color: black;
}

body{
    
    margin-top: 30px;
    /* display: flex;
    justify-content: center; /* center items vertically 
    align-items: center;     center items horizontally */
}

.container{

    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border: 1px solid black;
    height: 50px;
    width: 350px;

}

.cursor{
    animation: blink 1s linear infinite;
}

.hiden{
    display:none;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}